.header_spacing {
  padding-top: 80px;
}

.bot_new_form {
  min-height: 100vh;
}

.display-flex {
  display: flex;
  justify-content: space-around;
}

.type-of-parameter {
  display: flex;
  flex-direction: column;
}

.bot_new_form h3 {
  color: #FCC012;
}
