.container-large {
  width: 1350px;
  margin-right: auto;
  margin-left: auto;
}

.details-body {
  padding: 10px;
}

.details-body h3 {
  font-size: 18px;
}

.details-body p {
  font-size: 14px;
}

.flexbox-columns-start h4 {
  font-size: 17px;
  font-weight: bold;
  color: #026FFD;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.dropdown label {
  font-weight: normal;
  font-size: 15px;
}

.context-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.message_form  {
  display: flex;
  justify-content: space-between;
}
