.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.generic_card {
  padding-right: 20px;
}


.structured-text-button {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  font-size: 14px;
  padding-top: 10px;
  background-color: #0084FF;
  color: white;
}

.structured-text-carousel {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  font-size: 14px;
  padding-top: 10px;
}

.structured-button {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  font-size: 14px;
  line-height: 0.5;
  padding: 5px 10px 5px 10px;
}


.structured-image {
  border: 1px solid rgba(0, 0, 0, .1);
  border-bottom: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
