<div class="container about">

  <h1>The history</h1>

  <p>The concept of lightweight chat-based interfaces for commerce was pioneered and popularized in Asia by apps like China’s WeChat and Japan’s Line. Rather than forcing people to download entire apps for each business or use case, they can simply send messages to “official accounts” also called chatbots inside the instant messaging app they already use all day long. These allow you to access basic info, book a product or a service and ultimately pay directly will always staying within the messaging app.</p>

  <p>From the customer side, these official accounts make accessing added utility super convenient as they are no more downloading required. From the business side, Chat app platforms relieve them from having to build, popularize, and maintain whole mobile apps for multiple phone operating systems. With so many apps flooding the app stores, getting people to discover them and go through the hassle of installing an app can be tough. It’s much more casual and less daunting for businesses to get users to simply message them.</p>

  <p>Why is messaging so hot right now? Unlike 2000, we now have wireless mobile devices, affordable mobile data, interconnections between businesses (APIs), and relatively safe and secure mobile payment options.</p>


  <h1>Our vision</h1>

  <p>At My A.I. Vendor, we believe that it is time to rethink shopping for the mobile generation. We believe messaging offers the opportunity to deliver many business services faster, and more conveniently than the web or apps. It is emerging as additional choice for consumers and businesses. Unless you can write code yourself, the average cost just to build an app is over $150,000. Most businesses cannot afford this. Not every business or consumer transaction needs an entire app.</p>

  <p>As new app-like services emerge on messaging platforms, you will see more and more commerce move to this format. It’s faster and easier for the customer, and lower cost for the business to implement.</p>

</div>
