<div class="container how-it-works">

  <h1>Our solution</h1>
  <div class="how_flex">
    <div class="white_label">
      <h3>Benefits of joining a white label solution</h3>
      <p>One major aspect of Artificial Intelligence is reaching a critical mass of data set in order to train the algorithm properly. Chatbot are similar to humans: they learn from experience. The more customer requests there are, the smarter it gets. By using our white label solution, not only your business will benefit from the mutualization from all of our customers' requests but you will also benefit from the latest stage in Artificial Intelligence.</p>
    </div>
    <%=image_tag("white_label_tag.jpg", width: '400')%>
  </div>
  <hr>

  <div class="how_flex">
    <div class="process">
    <h3>Our typical on boarding process</h3>
      <ul>
        <li>
          <p><strong>Phase 1:</strong> Defining customer needs and shapping the boot accordingly (2 day)</p>
        </li>
        <li>
          <p><strong>Phase 2:</strong> Defining the marketing strategy (1 day)</p>
        </li>
        <li>
          <p><strong>Phase 3:</strong> IT integration (3 to 5 day)</p>
        </li>
        <li>
          <p><strong>Phase 4:</strong> Runing a pilot (3 to 7 day)</p>
        </li>
        <li>
          <p><strong>Phase 5:</strong> Public roll out</p>
        </li>
      </ul>
    </div>
  <%=image_tag("on_boarding_process.jpg", width: '400', height: '300')%>
  </div>

  <hr>

  <div class="how_flex">
    <div class="hybrid">
      <h3>There will always be a safety net</h3>
      <p>On the one hand, the current state of Natural Language Processing and Machine Learning are only capable of fulfilling a small fraction of most people’s requests. On the other, having humans answering the chat system is difficult to scale. Hence, we have built a new generation of hybrid machine natural language chat backed by real human customer support. Support will operate as a safety net that will handle all possible transactional requests while enabling it to scale rapidly and maintaining high quality of service. This backing system can be internalized within your organization or outsource to us depending on your needs.</p>
    </div>
    <%=image_tag("backer_screenshot.png", width: '400', height: '300')%>
  </div>

  <hr>
  <div class="how_flex">
    <div class="bi">
      <h3>Business Intelligence</h3>
      <p>As a My Message Store customer you will get access to a real time dashboard in order to follow up with what is happening.<BR>All conversation logs are available at any given time. You can browse and cluster them by topics or stories.<BR>Trend reports are sent on a quaterly basis. This way you can understand how your customers are using this new channel.</p>
    </div>
      <%=image_tag("dashboard_screenshot.png", width: '400', height: '350')%>
  </div>
  <hr>
</div>
