<div class="container how-it-works">

  <h1>Our solution</h1>

  <h3>White label</h3>
  <p>One major aspect of Artificial Intelligence is reaching a critical mass of data set in order to train the algorithm properly. Chatbot are similar to humans: they learn from experience. The more customer requests there are, the smarter it gets. By using our white label solution, not only your business will benefit from the mutualization from all of our customers' requests but you will also benefit from the latest stage in Artificial Intelligence.</p>

  <h3>Hybrid</h3>
  <p>On the one hand, the current state of Natural Language Processing and Machine Learning are only capable of fulfilling a small fraction of most people’s requests. On the other, having humans answering the chat system is difficult to scale. Hence, we have built a new generation of hybrid machine natural language chat backed by real human customer support. Support will operate as a safety net that will handle all possible transactional requests while enabling it to scale rapidly and maintaining high quality of service. This backing system can be internalized within your organization or outsource to us depending on your needs.</p>

</div>
