<% @input_types = ["list", "free text", "integer"] %>

<div class='row nested-fields'>
  <div class='col-xs-12 col-md-6'>
    <div style='display: flex;'>
      <%= f.input :name, label: "Name" %>
      <%= f.input :input_type, :collection => @input_types, label: "Type", :include_blank => false %>
      <hr>
    </div>
    <%= link_to_remove_association f do %>
      Delete
    <% end %>
  </div>
</div>



