<div class='row'>
  <div class='col-xs-12 col-md-6'>
    <div style='display: flex;'>
      <%= f.input :name, label: "Name" %>
      <%= f.input :input_type, label: "Type" %>
      <hr>
    </div>
  </div>
</div>



