<div class="container">
  <div class="row">
    <div class="messages" id="O"></div>

    <!-- Context dashboard on the left hand side -->
    <div class="col-sm-3" id="conversation-list">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>All conversations</h4>
        </div>
        <div class="flexbox-columns-start">
            <% @rooms.each do |room| %>
              <div id="<%= room.id%>" class="conversation-link flexbox-start">
               <%= link_to controller: "rooms", action: "update_index", room_id: room.id, remote: true do %>
                <div class="conversation-preview flexbox-columns flex-item">
                  <ul class="conversation-header list-unstyled list-inline flex-item">
                    <li><h6>
                      <div class="room-name">
                        <%= room.first_name %>
                      </div>
                      <br/>
                    </h6></li>
                    <li class="date"></li>
                  </ul>
                  <div class="message-preview flex-item">
                    <span></span>
                  </div>
                <% end %>
                </div>
              </div>
            <% end %>
            <div class="end-of-messages">
              <p>Fin des rooms</p>
            </div>
          </div>
      </div>
    </div>


    <!--     Session itself -->
    <div class="col-sm-6" id="message-list">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Full conversation</h4>
        </div>
        <div class="panel-body fixed-height">
          <div id="wrapper">
            <%= render "messages/structured_message" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3" id="conversation-list">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Details from this specific room</h4>
        </div>
        <div class="details-body">
          <h3>Chat info</h3>
          <p>Company name:</p>
          <p>Creation date:</p>
          <p>Chat main purpose:</p>
          <p># of sessions:</p>
          <p># of users:</p>
          <h3>User info</h3>
          <p>First name:</p>
          <p>Local time:</p>
          <p># of sessions:</p>
          <p> </p>
          <h3>Chat/User info</h3>
          <p>First conversation date:</p>
          <p>Total number of sessions:</p>
          <p>Current conversation starting date:</p>
          <p># of messages in current session:</p>
          <p># of help required in this session:</p>
        </div>
      </div>
    </div>


  </div>
</div>

