<div class="container">
  <div class="row">

    <!-- Context dashboard on the left hand side -->
    <div class="col-sm-4" id="conversation-list">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>All conversations</h4>
        </div>
        <%= @rooms.each do |room| end%>
      </div>
    </div>


    <!--     Session itself -->

            <!--   <button class="btn btn-stop hidden">Cancel</button>
              <button class="btn btn-send hidden">Send</button> -->
     <!--        </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

